@using REAL_EshopProjectHosperger.Models.Car;
@model List<CarViewModel>
@{
    ViewData["Title"] = "Genre";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MessageType"] mt-2">
        @TempData["Message"]
    </div>
}
<div class="mt-2">
    @if (ViewBag.Role == "admin")
    {
        <a class="btn btn-sm btn-success me-1" asp-controller="Car" asp-action="Add">
            Add
        </a>
    }
    <a class="btn btn-sm btn-dark" asp-controller="Car" asp-action="List">
        Reload
    </a>
</div>


<table class="table table-hover table-sm text-center mt-2 mb-2">
    <thead class="table-light">
        <tr>
            <th>Photo</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Year</th>
            <th>Price</th>
            @if (ViewBag.Role == "admin")
            {
                <th>Actions</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (CarViewModel cars in Model)
        {
            <tr style="text-align:center">
                <td ><img src="/img/cars/@(cars.ID).png" alt="@cars.Brand" style="height: 125px; margin:5px; text-align:center " /></td>
                <td style="text-align:center"><a asp-controller="Car" asp-action="List" asp-route-genreid="@cars.ID">@cars.Brand</a></td>
                <td style="text-align:center">@cars.Model</td>
                <td style="text-align:center">@cars.Year</td>
                <td style="text-align:center">@cars.PriceText</td>
                @if (ViewBag.Role == "admin")
                {
                    <td>
                        <a class="btn btn-sm btn-warning me-1" asp-controller="Car" asp-action="Edit" asp-route-id="@cars.ID" style="text-align:center">
                            Edit
                        </a>
                        <a class="btn btn-sm btn-danger" asp-controller="Car" asp-action="DeleteAction" asp-route-id="@cars.ID" style="text-align:center">
                            Delete
                        </a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
