@using REAL_EshopProjectHosperger.Models.Car;
@model List<CarViewModel>
@{
    ViewData["Title"] = "List aut";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MessageType"] mt-2">
        @TempData["Message"]
    </div>
}
<div class="mt-2">
    @if (ViewBag.Role == "admin")
    {
        <a class="btn btn-sm btn-success me-1" asp-controller="Car" asp-action="Add">
            Přidat
        </a>
    }
    <a class="btn btn-sm btn-dark" asp-controller="Car" asp-action="List">
        Resetovat
    </a>
    <a class="btn btn-sm btn-dark" asp-controller="Car" asp-action="ListOdNejlevnejsich">
        seřadit od nejlevnějších
    </a>
    <a class="btn btn-sm btn-dark" asp-controller="Car" asp-action="ListOdNejdrazsich">
        seřadit od nejdražších
    </a>
    <div>
        <form asp-controller="Car" asp-action="Search"  method="post">
            <input type="text" placeholder="Search.." style="margin-left:5px;">
            <button type="submit"><i class="fa fa-search">Hledat</i></button>
        </form>
        

    </div>
    
    
</div>


<table class="table table-hover table-sm text-center mt-2 mb-2">
    <thead class="table-light">
        <tr>
            <th>Photo</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Year</th>
            <th>Price</th>
            @if (ViewBag.Role == "admin")
            {
                <th>Actions</th>
            }
        </tr>
    </thead>
    <tbody>
        
        @foreach (CarViewModel cars in Model)
        {
            <tr style="text-align:center">
                <td><a asp-controller="Car" asp-action="Detail" asp-route-id="@cars.ID"><img src="/img/cars/@(cars.ID).png" alt="@cars.Brand" style="height: 125px; margin:5px; text-align:center " /></a></td>
                <td style="text-align:center">@cars.Brand</td>
                <td style="text-align:center">@cars.Model</td>
                <td style="text-align:center">@cars.Year</td>
                <td style="text-align:center">@cars.PriceText</td>
                @if (ViewBag.Role == "admin")
                {
                    <td>
                        <a class="btn btn-sm btn-warning me-1" asp-controller="Car" asp-action="Edit" asp-route-id="@cars.ID" style="text-align:center">
                            <button class="btn btn-sm btn-warning me-1" onclick="location.href='@Url.Action("Edit", "Car", cars.ID)'" style="text-align:center">
                                Edit
                            </button>
                        </a>
                        <form asp-controller="Car" asp-action="Delete" asp-route-id="@cars.ID" style="display:inline">
                            <button type="submit" class="btn btn-sm btn-danger" style="text-align:center">
                                Delete
                            </button>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
